body{
    background-color: white;
}

#instruction, #contact{
	margin-left: 5%;
	margin-right: 25%;
}

h3{
	font-size: 16px;
	opacity: 0.8;
}

#index{
	background-image: url("../images/Maroon_Bells.jpg");
	background-size: 100vw 108vh;
	background-repeat: no-repeat;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}

nav ul li a{
	color: black;
	opacity: 0.8;
	display: block
}

nav ul li{
	background-color: transparent;
}

#index nav ul li a{
	color: white;
}

#welcome{
	color: white;
	font-family: 'Charmonman', cursive;
	font-size: 25px;
}

.instruction{
	color: black;
	font-size: 20px;
}

#tool{
	display:block;
}

#instruction li{
	color: grey;
	display: block;
}

#instruction nav li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container div .star{
	width: 500px;
	height: 333px;
}

.instruction_img{
	display: block;
	margin-left: 10%;
	margin-right: auto;
	width: 30%;
}

#ref{
	color: grey;
}

#ref a{
	color: blue;
}

#tel{
	color: blue;
}

#contact #email{
	color: blue;
}

footer a{
	display: block
}

@media screen and (min-width:800px){
	#index{
		background-image: url("../images/rick-and-morty-silhouette-on-starry-sky.jpg");
		background-size: 100vw 108vh;
		background-repeat: no-repeat;
	}
}
@media screen and (min-width:550px){
	nav ul li a{
		opacity:0.8;
		display: inline-block;
	}
}
@media screen and (max-width:500px){
	#world{
		max-width: 100vw;
		margin: auto;
	}
}
@media only screen and (orientation: portrait) {
    #contact{
		background-color: black;
		color: white;
		max-width: 300px;
		margin: auto;
	}
	#contact nav a{
		color: white;
		display: block;
	}
}
