body{
    background-color: white;
}

#index{
	background-image: url("../images/Galaxy.jpg");
	background-size: 120%;
	background-repeat: no-repeat;
}

li{
	text-decoration: none;
	display:inline;
	background-color: white;
	color: black;
}

nav ul li a{
	background-color: none;
	opacity:0.8;
}

#welcome{
	color: white;
	font-family: 'Charmonman', cursive;
	font-size: 25px;
}

.instruction{
	color: black;
	font-size: 20px;
}

#tool{
	display:block;
}

#tool li{
	color: grey;
	display: block;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-container div .star{
	width: 500px;
	height: 333px;
}

.How{
	font-size: 30px;
}

.select{
	font-size: 25px;
	color: blue;
}

.Once{
	color: black;
}

#ref{
	color: grey;
}

#ref a{
	color: blue;
}

#tel{
	color: blue;
}

#Moon li{
	color: grey;
	display: block;
}

#contact #email{
	color: blue;
}